.en_sec_title {
  font-size: 64px;
  text-align: center;
}

/* 섹션 별 마진값 */
.en_sec_1,
.en_sec_2,
.en_sec_3,
.en_sec_4, 
.en_sec_5,
.en_sec_6 {
  max-width: 80%;
  margin: 0 auto;
}

/* 섹션1_질문대상 */
.en_sec_1 {
  margin-top: 50px; 
  margin-bottom: 150px;
  box-sizing: border-box;

  .en_sec_1_box {
    max-width: 491px;
    height: 292px;
    border-radius: 10px;
    background: #EEE9F0;
    box-sizing: border-box;
    display: flex;
    justify-content: center; /* 가로 정렬 (가운데 정렬) */
    align-items: center;     /* 세로 정렬 (중앙 정렬) */
  }

  .v-row {
    gap: 20px;  /* 질문박스 간격 */
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    text-align: center;
  }

  .en_sec_1_icon {
    width: 40px;
    height: 40px;
    margin-bottom: 16px;
    font-size: 40px;
  }

  .en_sec_1_question {font-size: 32px;}
}

/* 섹션2_수술설명 */
.en_sec_2 {
  background: #EEE9F0;
  margin-bottom: 150px;
  padding-top: 50px !important;
  padding-bottom: 70px;
  box-sizing: border-box;
  .en_sec_title {margin-bottom: 0 !important;}
  .en_sec_2_subtitle {
    font-size: 32px;
    text-align: center;
  }

  .en_sec_2_imgbox {
    width: 100%;
    height: 431px;
    margin-top: 30px;
    margin-bottom: 50px;
  }

  .en_sec_2_img {
    width: 1000px;
    height: 431px;
    margin: 0 auto;
    background: url(../assets/img/nose/n.png) no-repeat;
    background-position: center center;
    background-size: cover;
  }

  .en_sec_2_text {
    width: 100%;
    text-align: center;
    font-size: 20px;
    padding: 0 15%;
  }
}

/* 섹션3_수술방법 */
.en_sec_3 {
  margin-bottom: 150px;
  box-sizing: border-box;

  .en_sec_3_contents {
    display: flex;
    justify-content: space-between;
      .en_sec_3_box {
        display: flex;
        flex-direction: column;
        align-items: center; /* 가운데 정렬 (선택사항) */
        gap: 30px;
        .en_sec_3_img1,
        .en_sec_3_img2,
        .en_sec_3_img3,
        .en_sec_3_img4 {
          width: 360px;
          height: 300px;
          background-position: center;
        }
        .en_sec_3_textbox {text-align: center;}
        .en_sec_3_subtext {
          font-size: 32px;
          margin-bottom: 10px;
        }
        .en_sec_3_text {font-size: 20px;}
      }
  }
  // 수술방법 이미지 삽입경로
  .nose_sec_3_img11 {background: url(../assets/img/nose/n11.png) no-repeat;}
  .nose_sec_3_img22 {background: url(../assets/img/nose/n22.png) no-repeat;}
  .nose_sec_3_img33 {background: url(../assets/img/nose/n33.png) no-repeat;}
  .nose_sec_3_img44 {background: url(../assets/img/nose/n44.png) no-repeat;}
}



// 모바일쿼리!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

/* 1024px 이하 (패드) */
@media screen and (max-width: 1024px) and (min-width: 769px) {

  // 섹션 1_질문대상
  .en_sec_1 {
    margin-bottom: 90px !important;
    .en_sec_1_box {
      max-width: 240px !important;
      height: 150px !important;
    }
    .en_sec_1_icon {
      width: 25px;
      height: 25px;
      font-size: 25px;
      margin-bottom: 10px;
    }
    .en_sec_1_question {font-size: 20px;}

    .nose_sec_title{
      padding: 0 18%;
    }
  }

  // 섹션 2_수술설명
  .en_sec_2{margin-bottom: 90px;}
  .en_sec_2_imgbox {
  width: 100% !important;
  height: 240px !important;
  }
  .nose_sec_2_img {
    width: 600px !important;
    height: 240px !important;
  }
  .en_sec_2_text{
    padding: 0 10%;
  }

  // 섹션 3_수술방법
  .en_sec_3 {margin-bottom: 90px;}
  .en_sec_3_contents {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    .en_sec_3_box {
     width: 100%;
     max-width: 1000px; /* 가운데 정렬 위해 */
     display: flex;
     flex-direction: row !important;
     align-items: center;
     gap: 0px;
      .en_sec_3_img1,
      .en_sec_3_img2,
      .en_sec_3_img3,
      .en_sec_3_img4 {
        width: 417px !important;
        height: 342px !important;
        background-size: cover;
        background-position: center;
      }
      .en_sec_3_textbox {
        width: 50%;
        text-align: center;
      }
    }
    .en_sec_3_box:nth-child(even) {
      flex-direction: row-reverse !important;
      text-align: right;
    }
  }
}





/* 768px 이하 (태블릿) */
@media screen and (max-width: 768px) and (min-width: 376px) {
  // 섹션 1_질문대상
  .en_sec_1 {
    margin-bottom: 70px !important;

      .nose_sec_title{
        padding: 0 20%;
      }
     .en_sec_1_box {
      max-width: 100% !important;
      height: 50px !important;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      padding-left: 5%;
      .en_sec_1_question_box {
        display: flex;
        flex-direction: row !important; /* 모바일에선 가로 정렬 */
        align-items: flex-start;
        gap: 12px; /* 아이콘과 텍스트 사이 간격 */
      }
      .en_sec_1_question {font-size: 20px !important;}
      .en_sec_1_icon {
        width: 20px;
        height: 20px;
        padding-top: 10px;
        font-size: 20px;
      }
    }
  }

  // 섹션 2_수술설명
  .en_sec_2 {
    margin-bottom: 70px;
    padding-top: 30px;
  }
  .en_sec_title {
    font-size: 48px;
    padding: 0;
  }
  .en_sec_2_subtitle {font-size: 24px !important;}
  .en_sec_2_imgbox {
  width: 100% !important;
  height: 150px !important;
  margin: 5px 0 0 !important;
  }
  .en_sec_2_img {
    width: 460px !important;
    height: 150px !important;
    padding: 0;
  }
  .en_sec_2_text{
    padding: 0 18%;
  }

  // 섹션 3_수술방법
  .en_sec_3 {margin-bottom: 70px;}
  .en_sec_3_contents {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    .en_sec_3_box {
     width: 100%;
     max-width: 1000px; /* 가운데 정렬 위해 */
     display: flex;
     flex-direction: row !important;
     align-items: center;
     gap: 0px;
      .en_sec_3_img1,
      .en_sec_3_img2,
      .en_sec_3_img3,
      .en_sec_3_img4 {
        width: 320px !important;
        height: 254px !important;
        background-size: cover;
        background-position: center;
      }
      .en_sec_3_textbox {
        width: 50%;
        text-align: center;
      }
      .en_sec_3_subtext{font-size: 24px;}
      .en_sec_3_text{
        font-size: 18px !important;
        padding: 0 25px;
      }
    }
    .en_sec_3_box:nth-child(even) {
      flex-direction: row-reverse !important;
      text-align: right;
    }
  }  
}







/* 375px ~320px (모바일) */
@media screen and (max-width: 375px) {
  .en_sec_3 {margin-bottom: 0px !important;}
  .en_sec_title {
    font-size: 24px !important; 
    margin-bottom: 0px !important;
  }
  // 섹션 1_질문대상
  .nose_sec_title{
        padding: 0 10%;
      }
  .en_sec_1 .v-row {gap: 15px;}
  .en_sec_1 {
    margin-bottom: 70px !important;
    .en_sec_1_box {
      max-width: 100% !important;
      height: 40px !important;
      justify-content: flex-start !important;
    }
    .en_sec_1_question_box {
      display: flex;
      align-items: center;
      gap: 10px; /* 아이콘과 텍스트 사이 간격 */
    }
    .en_sec_1_icon {
      width: 16px;
      height: 16px;
      font-size: 16px;
      padding-top: 13px;
    }
    .en_sec_1_question {font-size: 14px !important; text-align: left;}
  }

  // 섹션 2_수술설명
  .en_sec_2 {
    margin-bottom: 70px;
    padding-top: 30px;
    .en_sec_2_subtitle {font-size: 18px !important;}
    .nose_sec_2_subtitle {
      padding: 0 23%;
    }
    .font_b {
        font-size: 18px !important;
    }
    .en_sec_2_imgbox {
    width: 100% !important;
    height: 140px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    }
    .en_sec_2_img {
      width: 220px !important;
      height: 120px !important;
    }
    .en_sec_2_text {
      font-size: 14px;
      padding: 0 12%;
    }
  }
// 수술방법
  .en_sec_3 {
  margin-bottom: 150px;
  box-sizing: border-box;

  .en_sec_3_contents {
    display: block;
    justify-content: space-between;
      .en_sec_3_box {
        display: block !important;
        flex-direction: column;
        align-items: center; /* 가운데 정렬 (선택사항) */
        gap: 30px;
        .en_sec_3_img1,
        .en_sec_3_img2,
        .en_sec_3_img3,
        .en_sec_3_img4 {
          width: 100%;
          height: 200px;
          background-position: center;
          background-size: contain;
        }
        .en_sec_3_textbox {
          text-align: center;
          margin-bottom: 30px;
        }
        .en_sec_3_subtext {
          font-size: 24px;
          margin-top: 15px;
          margin-bottom: 0px;
        }
        .en_sec_3_text {
          font-size: 18px; 
        }
      }
    }
  }
}

/* 320px (모바일) */
@media screen and (max-width: 320px) {
  // 섹션 1_질문대상
    .nose_sec_title{
        padding: 0 5%;
    }
    .en_sec_2 {
        .nose_sec_2_subtitle {
            padding: 0 17%;
        }
    }
}


/* 수술정보 ------------------------------------------------------------------------ */
.info {
  padding: 0 5% 150px 5%;
  border: none !important;

  .title_font {
    font-size: 64px;
    margin-bottom: 40px;
  }

  .info-list {
    row-gap: 40px;
    margin: 0;
  }

  .info-item {
    text-align: center;
    margin: 0 auto;
    padding: 0;

    .icon {
      font-size: 72px;
    }

    .font_r {
      font-size: 24px;
      margin: 0;

      .font_b {
        display: block;
        font-size: 24px;
        margin-top: 10px;
      }
    }
  }
}

// 미디어쿼리
@media (max-width: 1024px) {
  .info {
    padding-bottom: 90px;

    .title_font {
      font-size: 64px;
      margin-bottom: 40px;
    }

    .info-item .icon {
      font-size: 56px;
    }

    .info-item .font_r,
    .info-item .font_b {
      font-size: 24px !important;
    }
  }
}

@media (max-width: 768px) {
  .info {
    padding-bottom: 70px;

    .title_font {
      font-size: 48px;
      margin-bottom: 30px;
    }

    .info-list {
      row-gap: 20px;
    }

    .info-item {
      max-width: unset;

      .icon {
        font-size: 48px;
      }

    .info-item .font_r,
    .info-item .font_b {
        font-size: 24px !important;
      }
    }
  }
}

@media (max-width: 375px) {
  .info {
    padding-bottom: 70px;

    .title_font {
      font-size: 32px;
      margin-bottom: 30px;
    }

    .info-list {
      row-gap: 20px;
    }

    .info-item .icon {
      font-size: 40px;
    }

    .info-item .font_r,
    .info-item .font_b {
      font-size: 14px !important;
    }
  }
}

@media (max-width: 320px) {
  .info-item .font_r,
  .info-item .font_b {
    font-size: 14px !important;
  }
}

/* 수술효과 ------------------------------------------------------------------------ */
.effect{
  padding:0 5% 150px 5%;
  display: flex;
  justify-content: center;
}

 /* 타이틀 설정 */
.title_font{
  font-size: 64px;
  margin-bottom: 40px;
}

@media (max-width: 1024px) {
  .title_font{
    font-size: 64px;
    margin-bottom: 0;
  }
}
@media (max-width: 768px) {
  .title_font{
    font-size: 48px;
    margin-bottom: 30px;
  }
}
@media (max-width: 375px) {
  .title_font{
    font-size: 32px;
    margin-bottom: 30px;
  }
}

 /* 이미지 설정 */
.effect_img{
  width: 1239px;
  height: 1205px;
  margin: 0 auto;
  background:url(../assets/img/nose/effect_pc2.png);
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .effect{
      padding: 0 5% 90px 5%;
  }
  .effect_img{
    background:url(../assets/img/nose/effect_pd.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 850px;
  }
}
@media (max-width: 768px) {
  .effect{
      padding:0 5% 70px 5%;
  }
  .effect_img{
    background:url(../assets/img/nose/effect_tb.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 569px;
  }
}
@media (max-width: 375px) {
  .effect{
    padding:0 5% 70px 5%;
  }
  .effect_img{
    background:url(../assets/img/nose/effect_mb.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 268px;
  }
}



/* 주의사항 ------------------------------------------------------------------------ */
.notice{
  padding:0 5% 0 5%;
}

 /* 타이틀 설정 */
.title_font {
  font-size: 64px;
  margin-bottom: 30px;
}

@media (max-width: 1024px) {
  .notice_t{
    font-size: 48px; /* 폰트 사이즈 64 > 48로 변경 */
  }
}

@media (max-width: 768px) {
  .title_font{
    font-size: 48px; 
    margin-bottom: 30px;
  }
}

@media (max-width: 375px) {
  .title_font{
    font-size: 32px;
    margin-bottom: 10px;
  }
}

/* 박스 설정 */
.box-gap{
  margin-bottom: 30px;
}

.notice-box {
  max-width: 1300px;
  height: 100px;
  border: 1px solid #aaa;
  border-radius: 10px;
  display: flex;
  margin-bottom: 30px;
  align-items: center;
  padding-left: 5%;
  font-size: 32px;
  font-weight: 500;
  background-color: #fff;
}

@media (max-width: 1024px) {
  .notice-box{
    max-width: 640px;
    height: 65px;
    margin-bottom: 30px;
    font-size:20px;
  }
}

@media (max-width: 768px) {
  .notice-box{
    max-width: 100%;
    height: 50px;
    margin-bottom: 10px;
    font-size:18px;
  }
}

@media (max-width: 375px) {
  .notice-box{
    max-width: 100%;
    height: 40px;
    margin-bottom: 0px;
    font-size:14px;
  }
}